@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap');
*{  margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
}
.container .back{
    background-image: url(img/fondo4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
.header{
    background-color: #8f2f2f;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-image: url(img/banner.jpg);
    background-position: center 760px;
    background-size: cover;
    width: 100%;
    height: 270px;
}
.logo{
    width: 30%;
    margin: 40px 150px;
}
.menu{
    width: 70%;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu li{
    float: left;
    align-items: end;
    font-size: 24px;
    color: #ffffff;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    /* border: #56ff14 solid 2px; */
    cursor: pointer;
    letter-spacing: 4px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.1s;
}
.menu li:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
}
.menu li:active{
    box-shadow: 0 0 20px #a945c7, 0 0 60px #a945c7, 0 0 100px #a945c7;
}
.main{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.main .grid{
    width: 100%;
    height: 70%;
    /* background-color: #41485b; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.main .grid .item{
 background-color: #f69518;
}
.main .grid .item3{
    grid-column: 3;
    grid-row: 1/ span 2;
}
.item{
    border-radius: 10px;
}
.card{
    position: relative; 
}
.card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 280px;
    object-fit: cover;
}
.card3 img{
    height: 805px;
}
.cardhead{
    position: absolute; 
    top: 0px;
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    padding: 15px;
}
.desc{
    text-align: center;
    padding: 20px;
}
.desc .btn{
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
    width: 80%;
    height: 40px;
    border: #b048ff solid 2px;
    background: none;
}
.desc .btn:hover{
    background: #b048ff;
    cursor: pointer;
}
.desc .btn:active{
    background: #ff0000;
}
.price{
    color: #ffffff;
    font-size: 18px;
}
.price2, .price4, .price5{
    color: #000000;
}
.fa{
    font-size: 36px;
    cursor: pointer;
    color: #ffffff;
}
.fa:hover{
    color: #f69518;
}
.fa:active{
    color: #ff0000;
}
.main .pictures{
    width: 100%;
    height: 30%;
    /* background-color: #cfd95f; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.main .pictures img{
    width: 100%;
    gap: 10px;
    /* background-color: #1ad555; */
    transition: all .5s ease;
}
.main .pictures img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.next h3{
    font-size: 36px;
    color: #ffffff;
    margin: 20px 0;
}
.footer{
    display: flex;
    width: 80%;
    height: 50px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}
.footer .one{
    display: flex;
    width: 60%;
    align-items: center;
}
.footer .one h2{
    color: #ffffff;
    margin: 0 20px;
}
.footer .one input{
    text-align: center;
}
.footer .one button{
    font-size: 16px;
    color: #ffffff;
    background-color: #f69518;
    padding: 5px 20px;
    margin-left: 20px;
    border: none;
}
.footer .one button:hover{
    background-color: #e53212;
}
.footer .one button:active{
    background-color: #fe1206;
    box-shadow: 0 0 60px, #f30000;
}
.footer .one .copy{
    color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 12px;
}
.footer .two{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.footer .two .fab{
    color: #ffffff;
    font-size: 32px;
    padding: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.footer .two .fab:hover{
    transform: translateY(-10px);
}
.footer .two .fab:active{
    color: #ff0000;
}